@font-face {
	font-family: 'CodeFont';
	src: url('lib/Arvo-Regular.ttf');
	src: url('lib/Arvo-Regular.ttf')  format('truetype'), 
}

@font-face {
	font-family: 'TitleFont';
	src: url('lib/YoungSerif-Regular.ttf');
	src: url('lib/YoungSerif-Regular.ttf')  format('truetype'), 
}

:root {
	font-size: 16px;
	--gold: #F5A614;
	--sea-foam-dark: #4FCFAB;
	--sea-foam-light: #CFF2E8;
}

@media screen and (max-width: 400px) {
	:root {
		font-size: 12px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'TitleFont', Arial;
	color: black;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

body {
	background-color: #F8F6F1;
}

#logo {
	font-family: 'TitleFont', Arial;
    text-align: center;
	display: block;
	font-size: 2.2rem;
	overflow: hidden;
	background: linear-gradient(to right, var(--gold), var(--gold) 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 575ms ease;
}

#logo:hover {
    background-position: 0 100%;
}

.article-logo {
	margin-bottom:2rem;
}

pre {
	border: 1px solid black;
	box-shadow: 10px 10px var(--sea-foam-dark);
	padding:8px;
	border-radius: 5px;
	background: var(--sea-foam-light);
	white-space: pre-wrap;
	margin-bottom: 2rem;
}

code {
	background: var(--sea-foam-light);
	color: black;
	padding:2px;
	text-wrap: wrap;
	width: 100%;
	font-family: 'CodeFont', Arial;
}

a {
	color:var(--gold);
}

a:hover {
	color:#d2931d;
	text-decoration: none;
}

.centered-img {
	margin: 0 auto;
}


 @media screen and (min-width: 600px) {
    #logo {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
}

.post-wrapper {
	padding: 12px;
	border-radius: 20px;
	border: 3px solid black;
	box-shadow: 10px 10px;
}

.post-wrapper:hover
 {
	border: 3px solid black;
	box-shadow: 5px 5px;
	text-decoration: unset;
	text-decoration-style: unset;
	text-decoration-color: unset;
}

.post-wrapper:active {
	box-shadow: 0px 0px;
}

#post-list {
    min-height: 50vh;
    margin-bottom: 20px;
}

.post-link:focus {
	border-radius: 20px;
	outline-color: var(--gold);
}

#post {
    min-height: 50vh;
    margin-bottom: 20px;
}

.post-link {
	font-family: 'TitleFont', Arial;
    margin-top: 15px;
	color: black;
    display: block;
}

.post-subtitle {
	font-family: 'TitleFont', Arial;
    font-size: 95%;
    color: var(--gold);
	margin-left: 1.5rem;
}

.page-number {
	font-family: 'TitleFont', Arial;
	font-size: 2rem;
	color: black;
}

.page-number b {
	font-size: 2.4rem;
}

.page-number:hover {
	font-family: 'TitleFont', Arial;
	font-size: 2rem;
	color: var(--gold);
}

#footer {
	font-family: 'TitleFont', Arial;
    font-size: 90%;
    text-align: center;
    color:black;
	margin-top:2.5rem;
}
